* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #212f3d;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 1.5;
}

.fb-comments {
  display: block;
  padding: 0 auto;
}

.treehouse {
  height: 200px;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 1.1em;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

h3 a {
  text-decoration: none;
  color: #212f3d;
}

.wrap {
  min-height: calc(100vh - 169.19px);
}

/*************************** HEADER **************************/

nav {
  display: inline;
}

nav .desktop-menu {
  display: none;
}

#main-header {
  background-color: #212f3d;
}

h1 {
  font-size: 1.2em;
  font-weight: 300;
  color: mintcream;
  padding: 20px 20px;
  margin: 0;
}

nav .mobile-menu,
nav .mobile-menu li,
h1 {
  display: inline-block;
}

nav .mobile-menu,
nav .desktop-menu {
  padding: 2px 20px;
  float: right;
}

nav .mobile-menu li a,
nav .desktop-menu li a {
  text-decoration: none;
  color: mintcream;
}

nav .fa-bars:hover {
  color: #a6abb1;
}
/*************************** ABOUT *************************/
.my-photo {
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
  border: solid 2px #bcc0c4;
  -webkit-box-shadow: 5px 5px 10px #bcc0c4;
  box-shadow: 5px 5px 10px #bcc0c4;
}

#about {
  padding: 1em 0;
}
/*************************** SECTION *************************/
.post {
  margin: 20px 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px #bcc0c4;
  box-shadow: 0px 1px #bcc0c4;
}

.post {
  padding: 18px 0;
}

.read-more {
  text-align: right;
  margin-right: 1em;
}

.read-more a {
  color: #212f3d;
  padding: 5px 7px;
}

.read-more a:hover {
  border-radius: 5px;
  color: mintcream;
  background-color: #212f3d;
}

.publish-date {
  margin-right: 1.2em;
  text-align: right;
  font-weight: 400;
  font-style: italic;
}
/*************************** FOOTER *************************/
#bottom-page {
  background-color: #212f3d;
  padding: 11px;
}

#byleo {
  color: mintcream;
  text-align: center;
  margin: 30px 0 10px 0;
}

.social {
  text-align: center;
  font-size: 2em;
}

.social li {
  display: inline-block;
  padding: 10px;
}

.social li i {
  color: mintcream;
  cursor: pointer;
}

.social li i:hover {
  color: #a6abb1;
}

/*************************** MEDIA QUERIES *************************/
@media (min-width: 769px) {
  nav .mobile-menu {
    display: none;
  }

  nav .desktop-menu,
  nav .desktop-menu li {
    display: inline-block;
  }

  nav .desktop-menu li {
    padding: 0 10px;
  }

  nav .desktop-menu li a:hover {
    border-bottom: solid 1px mintcream;
  }

  .main-nav {
    max-width: 1440px;
    margin: 0 auto;
  }
  .my-photo {
    display: inline;
  }

  h2 {
    font-size: 2.5em;
    width: 70.46%;
    float: right;
    text-align: left;
    margin: 0;
    padding: 55px 40px;
  }

  h3 {
    font-size: 3em;
  }

  h3 a {
    text-decoration: none;
    color: #212f3d;
  }

  .social {
    font-size: 1.5em;
  }
}

/************************** BLOG POST *************************/
#author {
  border-bottom: none;
}

#blog-post {
  margin: 20px 0;
}

.author-photo {
  height: 70px;
  border-radius: 50%;
  margin-top: 30px;
  border: solid 1px #bcc0c4;
}

.publish-date-blog {
  font-weight: 400;
  font-style: italic;
}

/************************** CLEARFIX *************************/

.group::after {
  content: "";
  clear: both;
  display: table;
}
