/* 1.0 BASIC SETUP ----*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* 2.0 CLEARFIX ----*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* 3.0 REUSABLE ----*/

h1 {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 2em;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

h1 span {
  font-size: 2.5em;
  display: inline-block;
  margin-bottom: 10px;
}

h2 {
  color: #494c4e;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 40px;
}

section {
  padding: 80px 0;
}

.is-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-content {
  width: 70%;
  text-align: center;
  color: #494c4e;
  line-height: 1.5;
  margin: auto;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* 4.0 HEADER ----*/

header {
  height: 100hv;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(../img/apple-device-blur-blurry-273222.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  position: relative;
}

/* 4.1 MAIN-NAV ----*/

.main-nav {
  float: right;
  margin-top: 55px;
}

.main-nav li {
  display: inline;
  margin-right: 16px;
  padding-bottom: 5px;
  list-style: none;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
}

.main-nav li:hover,
.main-nav li:active {
  border-bottom: 1px solid white;
}

/* 4.2 Lenguage nav ----*/

.dropdown {
  color: white;
  float: right;
  display: inline-block;
  position: relative;
  border-left: solid 1px white;
  margin: 55px 120px 0 0;
}

.dropdown span {
  padding-left: 16px;
  cursor: pointer;
}

.dropdown img,
.dropdown-content img {
  height: 15px;
  margin-right: 10px;
}

.dropdown-content {
  display:none;
  position: absolute;
  padding-top: 15px;
  padding-left: 16px;
  width: 150px;
}

.dropdown-content a {
  text-decoration: none;
  color: white;
}

.dropdown:hover .dropdown-content {
   display: inline-block;
}

/* ABOUT ME ----*/

.about-me img {
  height: 250px;
  border: solid 2px #494c4e;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 5px 5px 5px grey;
}

.about-me p a:link,
.about-me p a:visited {
  color: #494c4e;
}
