* {
  box-sizing: border-box;
}

body {
    color: #212F3D;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1.05em;
    line-height: 1.5;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 1.1em;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.wrap {
  min-height: calc(100vh - 145.52px);
}

/*************************** HEADER **************************/

.desktop-menu {
    display: none;
}

header {
    background-color: #212F3D;
}

h1 {
    font-size: 1.2em;
    font-weight: 300;
    color: mintcream;
    padding: 20px 20px;
    margin: 0;
}

.mobile-menu,
.mobile-menu li,
h1 {
    display: inline-block;
}

.mobile-menu {
    padding: 2px 20px;
    float: right;
}

.mobile-menu li a {
    color: mintcream;
}

.fa-bars:hover {
    color: #a6abb1;
}
/*************************** ABOUT *************************/
.my-photo {
    height: 200px;
    border-radius: 20%;
    display: block;
    margin: 30px auto;
    border: solid 2px #BCC0C4;
    box-shadow: 5px 5px 10px #BCC0C4;
}

#about {
    padding: 1em 0;
    border-radius: 10px;
    box-shadow: 0px 1px #BCC0C4;
}
/*************************** SECTION *************************/

.post {
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 1px #BCC0C4;
}

.post {
    padding: 18px 0;
}

.read-more {
    text-align: right;
    margin-right: 1em;
}

.read-more a{
    color: #212F3D;
    padding: 5px 7px;
}

.read-more a:hover {
    border-radius: 5px;
    color: mintcream;
    background-color: #212F3D;
}
/*************************** FOOTER *************************/
footer {
    background-color: #212F3D;
    padding: 11px;
}

#byleo {
    color: mintcream;
    text-align: center;
    margin: 30px 0 10px 0;
}

.social {
    text-align: center;
}

.social li {
    display: inline-block;
    padding: 10px;
}

.social li i {
    color: mintcream;
    cursor: pointer;
}

.social li i:hover {
    color: #a6abb1;
}

/*************************** MEDIA QUERIES *************************/
@media (min-width: 769px) {
  .my-photo {
    display: inline;
    width: 29.53%;
  }

  h2 {
    width: 70.46%;
    float: right;
    text-align: left;
    margin: 0;
    padding: 90px 60px;
  }
}

/************************** CLEARFIX *************************/

.group::after {
    content: "";
    clear: both;
    display: table;
}
